<div>
    <h3>{{product[0].title}}</h3>
    <img ng-src = "http://smktesting.herokuapp.com/static/{{product[0].img}}">
    <p>{{product[0].text}}</p>
</div>
<aside ng-controller="product1Ctrl">
    <div ng-controller="addReviews" >
    <form ng-submit="addComments()">
    <input ng-model="rate" type="text" placeholder= "от 1 до 5" >
    <input ng-model="text" type="text" placeholder="add commets...">
        <button id="id"  type="submit" option="1">Submit Reviews</button>
    </form>
    </div>
    <h3>Reviews</h3>
    <ul >
        <li ng-repeat="reviews in reviews1">
            <span>{{reviews.created_by.username  }} </span>
            <p>Rate: {{reviews.rate}}</p>
            <p>Comment: {{reviews.text}}</p>
        </li>
    </ul>
</aside>